<div class="text-success chuyenmuc"><h4>Tìm kiếm</h4></div><p></p>
<form class="form-inline" action="/search" method="POST">
    <input class="form-control mr-sm-2" type="text" name="search" id="search" value="{{this.search}}" style="
    width: 426px;" required>    
    <button class="btn btn-success" type="submit"><i class="fas fa-search"></i> Tìm kiếm</button>
    </form>
    <p></p>
    {{#if this.empty}}
<div class="alert alert-warning" role="alert">
Không tìm thấy kết quả phù hợp!
</div>
{{else}}
{{#each this.result}}
<div class="row">
    <div class="col-sm-2 text-center">
        <img src="/public/images/avatarPost/{{PostID}}.png" alt="" class="rounded" width="160px" height="110px">
    </div>
    <div class="col-sm-10" style="padding-left: 0px;">
        <a class="text-dark" href="/post/{{PostID}}"><h5>{{PostTitle}}</h5></a>
        
        {{SumContent}}
        <p><a href="#" class="badge badge-light text-secondary">{{CName}}</a>  
        <a href="#" class="badge badge-light text-secondary">{{SCName}}</a>
        <span class="badge badge-light text-secondary">{{Time}}</span>
        {{#if Pre}} 
            <span class="badge badge-danger text-white">Bài viết Premium</span>

        {{/if}}
        </p>
    </div>
</div>
<p class="border-bottom" style="margin-top: 16px;"></p>
{{/each}}
{{/if}}