{{#section 'title'}}Chỉnh sửa chuyên mục {{this.subcategory.SCName}} - {{/section}}

<div class="card">
  <div class="card-header">
    <h4>Sửa chuyên mục</h4>
  </div>
  <div class="card-body">
    <form method="POST">
      <div class="form-group">
        <label for="txtSCID">#</label>
        <input type="text" class="form-control" id="txtSCID" name="SCID" readonly value="{{this.subcategory.SCID}}">
      </div>
      <div class="form-group">
        <label for="txtSCName">Category</label>
        <input type="text" class="form-control" id="txtSCName" name="SCName" autofocus
          value="{{this.subcategory.SCName}}">
      </div>
      <a class="btn btn-success" href="/admin/subcategories/{{this.subcategory.CID}}" role="button" title="Back to List">
        <i class="fa fa-backward" aria-hidden="true"></i>
      </a>
      <a class="btn btn-danger" href="/admin/subcategories/del/{{this.subcategory.SCID}}" role="button" title="Back to List">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </a>
      <button type="submit" class="btn btn-primary" formaction="/admin/subcategories/update">
        <i class="fa fa-check" aria-hidden="true"></i>
        Lưu
      </button>
    </form>
  </div>
</div>